[submodule "NeteaseCloudMusicApi"]
	path = NeteaseCloudMusicApi
	url = git@github.com:Binaryify/NeteaseCloudMusicApi.git
[submodule "QQMusicApi"]
	path = QQMusicApi
	url = git@github.com:jsososo/QQMusicApi.git
[submodule "MiguMusicApi"]
	path = MiguMusicApi
	url = git@github.com:jsososo/MiguMusicApi.git
